@font-face {
    font-family: viking-font;
    src: url(./fonts/Norse-Bold.otf);
}
body{
    display: flex;
    height: 100vh;
    margin:0;
}
a{
    color:white;
}
a:visited{
    color: white;
}
.left_side{
    flex: 1;
    background: url("./photos/halie-west-25xggax4bSA-unsplash.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_side p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    opacity: 0.9;
    text-align: center;
}
.transparent{
    padding: 10px 0px;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
}
.transparent img{
    height: auto;
    width: 6rem;
}
.transparent h1{
    font-family: viking-font;
    color:white;
    font-size: 6rem;
    margin: 0px;
}
.right_side{
    flex:2;
    background-color:#f9fafb;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
}
.right_side h2{
    max-width: 70%;
    font-family: Roboto;
    font-weight: 500;
    text-align: left;
}
.main_side{
    margin: -50px;
    padding: 20px 50px 50px 50px;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(197, 197, 197);
}
.main_side h2{
    margin:0;
    padding-bottom: 30px;
}
fieldset{
    border: 0;
    padding: 0;
}
.input_row{
    display: flex;
    gap: 100px;
}
label{
    display: block;
    font-family:arial;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
}
input{
    display: block;
    margin-bottom: 20px;
    height: 25px;
    font-size: 16px;
}
.bottom_side button{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    background-color: #596D48;
    border: 0;
    padding: 15px 60px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.bottom_side p{
    font-family: Roboto;
}
.bottom_side a{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}